.loading {
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--time);
    -webkit-transition: var(--time);
    -o-transition: var(--time);
}

.loading.hidden {
    visibility: hidden;
    opacity: 0;
}